body {
    background-color:#F5BE9C;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

h2 {
    text-decoration: underline;
    font-weight: bold;
}

a:hover {
    color: #A4A7AD;
    background-color: #D03838;
    text-transform: uppercase;
}

a:visited {

    color: #4D38D0;
}
.style1 {
    text-align: center;
    background-color: #393533;
    color: white;
    border-style: dashed;
    border-width: 2px;
    border-color: black;
}

#important {
    background-color: #A6CAF3;
    font-weight: bold;
    border-style: solid;
    border-color: black;
}
