body {
    background-color:#F5BE9C;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}

h1 {
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
}

h2 {
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
}

nav {
	text-align: center;
	text-transform: capitalize;
	text-decoration: none;
	font-size: 20px;
	margin-top: 50px;
}

a:hover {
    color: #A4A7AD;
    background-color: #D03838;
    text-transform: uppercase;
}

a:visited {

    color: #4D38D0;
}

.style1 {
    text-align: center;
    background-color: #393533;
    color: white;
    border-style: dashed;
    border-width: 2px;
    border-color: white;
    display: inline-block;
    position: relative;
    margin-border: 8em;
    font-size: 25px;
    margin-right: 20px;
    margin-left: 20px;

}

#important {
    background-color: #A6CAF3;
    font-weight: bold;
    border-style: solid;
    border-color: black;
}

img {
  border: 2px solid #ddd;
  border-radius: 10px;
  width: 300px; height: 300px;
  align: center;

}

hr {
   width:50%;
   margin:0 auto;
   height: 1px;
   color: black;
   background-color: black;
}